
<divc class="container"></div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nombre</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Cantidad</th>
			<th scope="col">Precio</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for producto in object_list %}
		<tr>
			<th scope="row">{{producto.id}}</th>
			<td>{{producto.nombre}}</td>
			<td>{{producto.descripcion}}</td>
			<td>{{producto.cantidad}}</td>
			<td>{{producto.precio}}</td>
			<td>
				<a href="{% url 'productos:editarRegistro' producto.id %}" class="btn mb-3">
					Editar
				</a>
				<a href="{% url 'productos:eliminarRegistro' producto.id %}" class="btn mb-3">
					Eliminar
				</a>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="6">No hay elementos</td>
		</tr>
		{% endfor %}
	</tbody>
</table>